<script type="text/javascript">

	function declineMerchRequest(request_id, uiUpdateFunction){
		var url = "{% url 'merch:decline-merch-request' request_id=53252623623632623 %}".replace("53252623623632623", request_id)
		$.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] === "Merch request declined."){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
            error: function(data){
                console.log("Error", data['response'])
            },
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}


</script>
