{% load static %}
<script src="{% static 'Scripts/jquery-3.6.3.min.js' %}"></script>
<script type="text/javascript">
	function Plan(store_id, docket_id){
		var url = "{% url 'merch:add-to-plan' %}"
        $.ajaxSetup({
	        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: url,
			timeout: 5000,
            data: {store_id: store_id, docket_id: docket_id},
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] === "Item added to your cart"){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
		});
	}
</script>
