<script type="text/javascript">

	function sendMerchRequest(id, uiUpdateFunction){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"receiver_user_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'merch:send-merch-request'  %}",
			timeout: 5000,
			data: payload,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] === "Merch request sent."){
					// ui is updated
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
            error: function(data){
                console.log("Error", data['response'])
            },
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}


</script>


