  .gradient_background {
        background-image: linear-gradient(#659999,#f4791f);
        background-repeat: no-repeat;
  }

  .tateomerch_logo_grad {
    background: linear-gradient(to right, #659999,#f4791f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
