<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>TateoMerch</title>
  </head>

  <body class="grad">
  {% extends 'merch/dashboard_nav.html' %}
  {% block content %}

       <div style="display: flex; flex-direction: row; flex-wrap: wrap">
          {% for docket in list %}
            <div class="card" style="width: 40vh; margin: 10px">
              <div class="card-body">
                  <h4 class="card-title">{{ docket.date }}</h4>
                    <p class="card-text"><small class="text-muted">Merchandiser: {{ docket.user }}</small></p>
                    {% if docket.store_list %}
                        <div class="card" style="width: auto; margin: 20px">
                            <div class="card-header">
                                <h6> {{ docket.store_list.count }} Stores  </h6>
                            </div>
                            {% for store in docket.store_list.all %}
                             <ul class="list-group list-group-flush">
                                 <li class="list-group-item"> <a href="/merch/data/{{ docket.user.id }}/{{ store.id }}" >{{ store.name }} {% if store.number %} {{ store.number }} {% endif %}</a> </li>
                             </ul>
                            {% empty %}
                                <li class="list-group-item">No stores</li>
                            {% endfor %}
                        </div>
                    {% endif %}
              </div>
          </div>
          {% empty %}
              <p class="card-text"><small class="text-muted">No dockets for {{ docket.user}}</small></p>
          {% endfor %}
       </div>

</body>
</html>

    <style>
      .grad {
                background-image: linear-gradient(#659999,#f4791f);
                background-repeat: no-repeat;
                {% if list < 3%}
                height: 100vh;
                {% endif %}

            }
    </style>

{% endblock content %}