<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Home</title>

</head>
<style>
    .grad {
        background-image: linear-gradient(#659999, #f4791f);
        background-repeat: no-repeat;
    }
</style>


<body class="grad">
{% extends 'merch/dashboard_nav.html' %}
{% block content %}

    <div class="card text-white bg-dark mb-3" style="width: auto; margin: 10px">
        <div class="card-header">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="card-body">
            <p class="card-title">{{ user.email }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Route #{{ user.route_number }}</h6>
            {% if docket %}
                <h6 class="card-subtitle mb-2 ">{{ docket.store_list.count }} Stops</h6>
                <h6 class="card-subtitle mb-2 ">{{ docket.planDate }} </h6>
                {% if docket.startBool and not docket.completeBool %}
                    <a href="complete-day/{{ user.username }}/{{ docket.id }}" class="btn btn-outline-danger">Complete
                        day</a>
                {% else %}

                {% endif %}
            {% else %}

                <p><label for="datepicker"></label><input type="text" id="datepicker"></p>

                <a href="begin-day/{{ user.username }}" class="btn btn-outline-success">Begin day</a>

                <script>
                $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                $("#datepicker").datepicker("setDate", new Date());
                </script>

                <button id="id_cancel_{{ user.id }}" class="btn btn-outline-warning"
                                        onclick='triggerPlanRequest("{{ user.id }}")'>Plan day
                </button>
            {% endif %}

        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: auto; margin: 10px">

            <div class="card-body">
                <ul class="nav card-subtitle" id="myTab" role="tablist">
                    <li class="nav-item btn-outline-dark" role="presentation">
                        <button class="btn btn-outline-light active" style="margin: 5px" id="merch-tab" data-bs-toggle="tab" data-bs-target="#merch" type="button"
                                role="tab" aria-controls="home" aria-selected="false" onclick='onMerchRequestAccepted()'>Merch
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn btn-outline-light" style="margin: 5px" id="accounts-tab" data-bs-toggle="tab" data-bs-target="#accounts" type="button"
                                role="tab" aria-controls="profile" aria-selected="false">Accounts
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn btn-outline-light" style="margin: 5px" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests"
                                type="button" role="tab" aria-controls="requests" aria-selected="true">Requests
                        </button>
                    </li>
                </ul>
            </div>

    </div>

    <div class="bd-example text-white" style="width: auto;">

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade active show" id="merch" role="tabpanel" aria-labelledby="merch-tab">
                {% if stores %}
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                        {% for store in stores %}
                            {% if not store.complete %}
                            <div class="card bg-dark" style="width: 18rem; margin: 10px">
                                <div class="card-header">RSR Route #{{ store.store.RSRrt }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ store.store.name }}{% if store.store.number %} #{{ store.store.number }} {% endif %}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ store.store.Address }}, {{ store.store.City }}</h6>
                                    <a href="data/{{ user.id }}/{{ store.store.id }}" class="btn btn-outline-primary">View
                                        data</a>

                                    {% if docket %}
                                        <a href="merchandise_account/{{ store.store.id }}/{{ docket.id }}" class="btn btn-outline-success">Start
                                            merch</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% else %}
                    <p style="width: 18rem; margin: 10px">No stores available.</p>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                {% if route %}
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                        {% for store in route %}
                            <div class="card bg-dark" style="width: 18rem; margin: 10px">
                                <div class="card-header">RSR Route #{{ store.RSRrt }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ store.name }}{% if store.number %} #{{ store.number }} {% endif %}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ store.Address }}, {{ store.City }}</h6>
                                    <a href="data/{{ user.id }}/{{ store.id }}" class="btn btn-outline-primary">View
                                        data</a>

                                    {% if docket %}
                                        <button id="plan{{ store.id }}" type='button' class="btn btn-outline-warning" onclick='triggerPlan("{{ store.id }}","{{ docket.id }}")'>Plan</button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <p style="width: 18rem; margin: 10px">No stores available.</p>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">

            {% if requests %}
                <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                    {% for request in requests %}
                        <div class="card bg-dark" style="width: 18rem; margin: 10px">
                            <div class="card-body">
                                <h5 class="card-title">{{ request.store.name }}{% if request.store.number %} #
                                    {{ request.store.number }} {% endif %}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ request.store.Address }}, {{ request.store.City }}</h6>

                                <button id="id_confirm_{{ request.sender.id }}" class="btn btn-outline-success"
                                        onclick='triggerAcceptMerchRequest("{{ request.id }}")'>Accept
                                </button>
                                <button id="id_cancel_{{ request.sender.id }}" class="btn btn-outline-danger"
                                        onclick='triggerDeclineMerchRequest("{{ request.id }}")'>Decline
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p style="width: 18rem; margin: 10px">No requests at this time.</p>
            {% endif %}

    </div>

</body>


<script type="text/javascript">

    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)
        triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
        })
    })

    var triggerEl = document.querySelector('#myTab a[href="#merch"]')
    bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name

    var triggerEl = document.querySelector('#myTab a[href="#requests"]')
    bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name

    var triggerEl = document.querySelector('#myTab a[href="#accounts"]')
    bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name

    function onMerchRequestAccepted(){
		location.reload();
	}

	function onMerchRequestDeclined(){
		location.reload();
	}

	function triggerAcceptMerchRequest(request_id){
		acceptMerchRequest(request_id, onMerchRequestAccepted)
	}

	function triggerDeclineMerchRequest(request_id) {
        declineMerchRequest(request_id, onMerchRequestDeclined)
    }

    function triggerPlan(store_id, docket_id) {
        Plan(store_id, docket_id)

        let element = document.getElementById("plan{{ store.id }}");
        console.log(element)
        element.setAttribute("hidden", "hidden");
    }


    function triggerPlanRequest(user_id){

        var date = $( "#datepicker" ).val()
        window.location.href="plan-day/{{ user.id }}/"+date
    }

</script>

{% include 'merch/snippets/accept_Merch_request.html' %}
{% include 'merch/snippets/decline_Merch_request.html' %}
{% include 'merch/snippets/plan_request.html' %}
{% include 'merch/snippets/Plan.html' %}

{% endblock content %}
</html>
