<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>


  </head>

  <style>
.grad {
    background-image: linear-gradient(#FDB99B,#CF8BF3,#A770EF); /*#2657eb*/
              background-repeat: no-repeat;
  min-height: 1000px;
}

.blank_row {
    height: 850px; /* overwrites any other rules */
    background-color: #FFFFFF;
}
  </style>

<body class="grad">

    {% extends 'dashboard-nav.html' %}

    {% block content %}

<div style="display: flex; flex-direction: row; flex-wrap: wrap">



            <div class="card " style="width: 30rem; margin: 10px">
            <div class="card-header">Weekly</div>
              <div class="card-body">
                 {% if weekly %}
                 {% for week in weekly %}

                     <h6> <a href="/merch/weekly" class="">{{ week.date }} {{ week.user }}</a></h6>

                  {% endfor %}
                  {% else %}
                    <p>No data available.</p>
                  {% endif %}

{#                    <a href="merch/data/" class="btn btn-primary">View more</a>#}
              </div>
            </div>

            <div class="card " style="width: 30rem; margin: 10px">
            <div class="card-header">Requests</div>
              <div class="card-body">


                       <p>{{ requests.Address }} {{ requests.City }}</p>
                       <p>{{ requests.BS_Location }}</p>
                       <p>{{ requests.Area }}</p>

                    <p>No data available.</p>
{#                <a href="merch/data/" class="btn btn-primary">View more</a>#}
              </div>
            </div>

            <div class="card " style="width: 30rem; margin: 10px">
            <div class="card-header">Menu</div>
              <div class="card-body">
                <a href="/merch/" class="btn btn-primary">View History</a>
                  <a href="/merch/" class="btn btn-primary">View Reports</a>
                  <a href="/add" class="btn btn-primary">Add</a>
              </div>
            </div>

          <div class="card " style="width: 30rem; margin: 10px">
            <div class="card-header">Route</div>
              <div class="card-body">

                 {% if stores %}
                 {% for store in stores %}

            <h6 class="">{{ store.name }} {{ store.number }}</h6>
              <div class="card-body">

                    <a href="/merch/data/{{ user.id }}/{{ store.id }}" class="btn btn-success">View</a>
                  <a href="/merch/create-merch/{{ store.id }}" class="btn btn-primary">Merch</a>
{#                  <a href="merch/data/" class="btn btn-primary">Merch</a>#}

            </div>
                  {% endfor %}
                  {% else %}
                    <p>No data available.</p>
                  {% endif %}

              </div>
          </div>

</div>

    {% endblock content %}
</body>
</html>