<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>TateoMerch</title>
  </head>

    <style>
      .grad {
    background-image: linear-gradient(#FDB99B,#CF8BF3,#A770EF); /*#2657eb*/
          background-repeat: no-repeat;
  min-height: 1000px;
}

.blank_row {
    height: 700px; /* overwrites any other rules */
    background-color: #FFFFFF;
}
  </style>
    <body class="grad">
        {% extends 'navbar.html' %}
         {% block content %}
             {% if list %}
                 <div style="display: flex; flex-direction: row; flex-wrap: wrap">
                 {% for store in list %}

            <div class="card " style="width: 22rem; margin: 10px">
            <div class="card-header">{{ store.name }} {{ store.number }}</div>
              <div class="card-body">


                                    <p>{{ store.Address }}, {{ store.City }}</p>
                                    <p>{{ store.BS_Location }}</p>
                                    <p>{{ store.Area }}</p>


                <a href="merch/data/{{ user.id }}/{{ store.id }}" class="btn btn-primary">View data</a>
              </div>
            </div>
             {% endfor %}
                 </div>
             {% else %}
                 <p>No stores are available.</p>
             {% endif %}
        {% endblock content %}
    </body>
</html>
