
figure{
    width:250px;
    height:150px;
    border-radius:40px;
    border:2px solid #A770EF;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    color: #000000;
    position:relative;
    padding:48px 10px 10px;
    background-image: linear-gradient(#FDB99B,#A770EF);
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure:before {
    content: attr(data-title);
    position: absolute;
    color: #000000;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-bottom: 2px solid #A770EF;
    font-style: oblique;
    font-size: 20px;
    font-weight: lighter;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.grad {
    background-image: linear-gradient(#FDB99B,#CF8BF3,#A770EF); /*#2657eb*/
}

.blank_row {
    height: 700px; /* overwrites any other rules */
    background-color: #FFFFFF;
}
